doctype 5
html
	head
		title Limits in Real Life - Flappy Bird
		link(href="main.css", type="text/css", rel="stylesheet")
	body
		header
			h1 Limits in Real Life - Flappy Bird
		!= yield
		footer
			| &copy; 2013 Krish Dholakiya. All Rights Reserved. Background Image By <a href="http://harunaakatsuki.deviantart.com/" target="_blank">HarunaAkatsuki</a>. Made for Calculus A.
